/*位置*/
div.main .content{
    background-color: #fff;
}
.content-heard {
    margin: 0 0 1px;
    padding: 9px 20px 7px;
    background-color: #fff;
}
.content-heard a{
    color: #777777;
}
.content-heard small {
    font-size: 12px;
    color: #bbb;
    margin: 0 2px;
    font-weight: 700;
}
/*标题*/
.article-header {
    padding: 2px 20px 12px;
    background-color: #fff;
    border-bottom: 1px solid #eee;
}
.article-header h1{
    margin: 5px 0;
    line-height: 35px;
    color: inherit;
    text-rendering: optimizelegibility;
}
.article-title a {
    color: #444;
    font-weight: 400;
    font-size: 24px;
    line-height: 40px;
}
span.muted{
    color: #999;
}
/*信息*/
.meta span, .meta time{
    margin-right: 20px;
}
.meta a{
    color: #999999;
}
/*文章主体*/
.article-content{
    font-size: 15px;
    font-family: 微软雅黑;
    line-height: 26px;
    text-indent: 30px;
    word-break: break-all;
    word-wrap: break-word;
    padding: 10px 20px 20px 20px;
    background-color: #fff;
}
.class-like{
    text-align: center;
    text-indent: 0;
    margin-bottom: 10px;
    margin-top: 40px;
}
.class-like a{
    color: #fff;
}
.class-like .a-like{
    display: inline-block;
    border: solid 1px red;
    background-color: #ff4400f0;
    border-radius: 2px;
    width: 115px;
    height: 36px;
    padding-top: 8px;
}
.class-like span.share{
    display: inline-block;
    border: solid 1px rgb(61, 159, 61);
    background-color: rgb(61, 159, 61);
    border-radius: 2px;
    width: 115px;
    height: 36px;
    padding-top: 8px;
}
.class-like .or{
    background: #fff;
    color: #455670;
    display: inline-block;
    padding: 5px 12px;
    font-size: .8725em;
    position: absolute;
    z-index: 2;
    margin: 4px 0 0 -19px;
    border-radius: 100px;
}
.article-footer{
    background-color: #fff;
    border-top: solid 1px #f7f7f7;
    padding: 15px 20px;
    overflow: hidden;
}
.article-tags{
    float: left;
    font-size: 16px;
}
.article-tags a:nth-child(5n+2) {
    background-color: #5cb85c;
}
.article-tags a {
    display: inline-block;
    padding: 2px 6px 3px;
    margin: 0 2px;
    color: #fff;
    background-color: #4a4a4a;
    opacity: .7;
    filter: alpha(opacity=90);
}
/*评论*/
#respond {
    position: relative;
    background-color: #fff;
}
.comment{
    margin-bottom: 0;
}
.comment-title {
    overflow: hidden;
    padding: 12px 20px;
    background-color: #f7f7f7;
}
.pull-left{
    float: left;
}
.comment-img{
    height: 28px !important;
    width: 28px;
    overflow: hidden;
}
.comment-img img {
    border-radius: 2px;
    opacity: .9;
    height: 28px!important;
    width: 28px!important;
}
.your-comment{
    color: #666;
    font-size: 16px;
    margin: 5px 10px 0 10px;
}
.comment-write{
    padding: 20px 20px 5px 20px;
}
.comment-box{
    overflow: hidden;
}
.comment-area{
    display: block;
    margin-bottom: 5px;
    width: 100%;
    min-height: 70px;
    box-sizing: border-box;
}
button#submit{
    font-size: 15px;
    float: right;
    height: 40px !important;
    color: #fff;
    padding: 3px 19px;
    background-color: #3d9f3d;
    border: solid;
    border-radius: 7px;
}
/*评论内容*/
#post-comments{
    background-color: #ffffff;
}
#comments{
    font-size: 15px;
    font-weight: 400;
    padding: 15px 20px;
    line-height: 14px;
    color: #999;
    border-bottom: solid 1px #dbece8;
}
#comments b{
    font-weight: 400;
    font-size: 14px;
}
.comment-list{
    padding: 12px 20px 0 20px;
    list-style: none;
    margin: 0;
}
li.comment{
    padding: 12px 0 10px 0;
    line-height: 20px;
}
img.avatar{
    position: absolute;
    width: 54px;
    height: 54px;
    border-radius: 2px;
    webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-out;
}
.c-main {
    padding: 10px 15px;
    line-height: 25px;
    margin-top: -2px;
    margin-left: 72px;
    border-radius: 3px;
    position: relative;
    background: #fbfdfb;
    border: 1px #eee solid;
    font-size: 15px;
}
.c-meta {
    color: #bbb;
    font-size: 14px;
}
.c-author {
    margin-right: 10px;
}
.c-author a{
    margin-left: 0;
}
.c-meta a{
    color: #00a67c;
}
.a-respond{
    margin-left: 6px;
}