/*公共样式*/
*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #f3f3f3;
    font-family: 微软雅黑;
}
.container{
    margin: 0 auto;
}
a{
    text-decoration: none;
}
/*头部样式*/
div#logo {
    text-align: center;
    height: 106px;
    background: url("../images/logo.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
}
div#logo a{
    line-height: 106px;
    color: #3a3a3a;
}

div.nav{
    background: #4a4a4a;
    height: 52px;
    width: 100%;
}
div.nav nav{
    width: 1226px;
}
.nav ul{
    font-size: 0;
}
.nav li{
    display: inline-block;
    height: 52px;
    background: #4a4a4a;
    padding: 0 15px;
    vertical-align: top;
    font-size: 0;
    transition: background-color 1s linear;
}
.nav li:last-child{
    float: right;
}
.nav li a{
    color: #ffff;
    font-size: 16px;
    line-height: 52px;

}
div#search{
    display: inline-block;
    vertical-align: top;
    margin-top: 6px;
    text-align: right;
    width: 250px;
}
div#search form{
    line-height: 52px;
    font-size: 0;
}
#search input[type='text']{
    height: 32px;
    border: solid 1px #3d3d3d;
    border-right: 0;
    font-family: 微软雅黑;
    font-size: 16px;
    padding:0 10px;
    border-radius: 6px 0 0 6px;
}
#search input[type='submit']{
    height: 34px;
    border: solid 1px #3d3d3d;
    border-left: 0;
    font-family: 微软雅黑;
    font-size: 16px;
    padding:0 6px;
    border-radius: 0 6px 6px 0;
    background-color: #4a4a4a;
    color: #ffff;
}
li.active,.nav li:hover{
    background-color: #769f77;
}
.nav li:last-child:hover{
    background-color: #4a4a4a;
}
/*主体部分*/
div#body-wrapper{
    font-size: 0;
    width: 1226px;
}
div.main{
    display: inline-block;
    vertical-align: top;
    font-size: 16px;
    width: 69%;
    margin: 20px 5px 10px 0;
}
.excerpt{
    background-color: #ffffff;
    padding: 20px 15px 30px 20px;
    margin-bottom: 10px;
    height: 164px;
}
/*.excerpt:after, .excerpt:before {*/
    /*display: table;*/
    /*content: "";*/
    /*line-height: 0;*/
/*}*/

.excerpt header{
    padding: 0 10px 15px 0;
}
.label{
    position: relative;
    display: inline-block;
    height: 14px;
    padding: 4px 6px 3px;
    line-height: 14px;
    color: #fff;
    vertical-align: baseline;
    white-space: nowrap;
    background-color: #999;
}
.label,.label-row {
    top: 7px;
    right: -4px;
    border-left: 4px solid #999;
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;
}
.label-row{
    position: absolute;
    width: 0;
    height: 0;
    vertical-align: top;
    content: "";
}
.excerpt h2 {
    display: inline;
    font-size: 20px;
    margin: 0;
    font-weight: 400;
    position: relative;
    top: 7px;
    line-height: 25px;
    margin-left: 10px;
}
.excerpt h2 a{
    color: #4a4a4a;
}
.excerpt h2 a:hover{
    color: #161616;
    font-size: 20px;
    font-weight: 100;
}
.excerpt .focus {
    float: left;
    margin: 0 20px 0 0;
    text-align: center;
    overflow: hidden;
    display: table;
}
.focus img{
    width: 200px;
    height: 125px;
}
.excerpt .note {
    color: #777;
    line-height: 24px;
    margin-bottom: 0;
    font-style: normal;
    overflow: hidden;
    display: inline-block;
    vertical-align: top;
    width: 590px;
    height:69px
}
.excerpt p.auth-span {
    float: right;
    position: relative;
    /*bottom: 0;*/
    right: 0;
    top: 58px;
}
.excerpt .muted {
    font-size: 13px;
    margin-right: 20px;
}
.fa {
    font-size: 1.23em;
    text-align: center;
    display: inline-block;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    vertical-align: top;
}
.fa a{
    color: #777;
}

/*侧边栏*/
div#body-wrapper aside{
    display: inline-block;
    vertical-align: top;
    font-size: 16px;
    width: 30%;
    margin: 20px 0px 10px 5px;
}
.widget {
    clear: both;
    margin-bottom: 10px;
    background-color: #fff;
}
.title {
    position: relative;
    height: 45px;
    border-bottom: 1px solid #90bba8;
    margin: 5px 20px;
}
.title h2 {
    font-size: 16px;
    font-weight: 400;
    width: 80px;
    line-height: 45px;
}
.hot ul {
    padding: 0 20px 20px;
}
.hot li{
    display: inline-block;
}
.hot li a {
    padding: 5px 0 15px 90px;
    border-bottom: solid 1px #eee;
    overflow: hidden;
    position: relative;
    display: block;
    font-size: 14px;
    color: #777;
}
.hot .thumbnail {
    float: left;
    margin-left: -90px;
    margin-top: 10px;
}
.hot .thumbnail img {
    max-width: 100px;
    max-height: 64px;
    display: block;
    margin: 0 auto;
}
.hot .text {
    margin: 5px 0 0 20px;
    display: block;
    height: 50px;
}
.hot .muted {
    padding-left: 10px;
}