/*公共样式*/
*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #f3f3f3;
    font-family: 微软雅黑;
}
.container{
    margin: 0 auto;
}
a{
    text-decoration: none;
}
/*头部样式*/
div#logo {
    text-align: center;
    height: 106px;
    background: url("../images/logo.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
}
div#logo a{
    line-height: 106px;
    color: #3a3a3a;
}

div#nav{
    background: #3a3a3a;
    height: 52px;
    width: 1349px;
}
div#nav nav{
    width: 1150px;
}
#nav li{
    display: inline-block;
    height: 52px;
    background: #3a3a3a;
    padding: 0 10px;
}
#nav li a{
    color: #ffff;
    font-size: 16px;
    line-height: 52px;

}