/*公共样式*/
*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #f3f3f3;
    font-family: 微软雅黑;
}
.container{
    margin: 0 auto;
}
a{
    text-decoration: none;
}
li{
    display: inline-block;
}
/*分页*/
.page{
    overflow: hidden;
    text-align: center;
    padding: 20px;
    background-color: #fff;
}
.page .current, .page .page-numbers, .page a {
    padding: 4px 12px 3px;
    color: #666;
    display: inline-block;
    background-color: #eee;
    margin: 0 1px;
}
.page .current {
    background-color: #00a67c;
    color: #fff;
}
/*头部样式*/
div#logo {
    text-align: center;
    height: 88px;
    background-color: rgb(204, 72, 72);
    background-size: 100%;
}
div#logo a{
    line-height: 88px;
    color: #ffffff;
}

div.nav{
    background: #4a4a4a;
    height: 52px;
    width: 100%;
}
div.nav nav{
    width: 1226px;
}
.nav ul{
    font-size: 0;
}
.nav li{
    display: inline-block;
    height: 52px;
    background: #4a4a4a;
    padding: 0 15px;
    vertical-align: top;
    font-size: 0;
    transition: background-color 1s linear;
}
.nav li:last-child{
    float: right;
}
.nav li a{
    color: #ffff;
    font-size: 16px;
    line-height: 52px;

}
div#search{
    display: inline-block;
    vertical-align: top;
    margin-top: 6px;
    text-align: right;
    width: 250px;
}
div#search form{
    line-height: 52px;
    font-size: 0;
}
#search input[type='text']{
    height: 32px;
    border: solid 1px #3d3d3d;
    border-right: 0;
    font-family: 微软雅黑;
    font-size: 16px;
    padding:0 10px;
    border-radius: 6px 0 0 6px;
}
#search input[type='submit']{
    height: 34px;
    border: solid 1px #3d3d3d;
    border-left: 0;
    font-family: 微软雅黑;
    font-size: 16px;
    padding:0 6px;
    border-radius: 0 6px 6px 0;
    background-color: #4a4a4a;
    color: #ffff;
}
li.active,.nav li:hover{
    background-color: rgb(204, 72, 72);
}
.nav li:last-child:hover{
    background-color: #4a4a4a;
}
/*主体部分*/
div#body-wrapper{
    font-size: 0;
    width: 1226px;
}
div.main{
    display: inline-block;
    vertical-align: top;
    font-size: 16px;
    width: 69%;
    margin: 20px 5px 10px 0;
}
.excerpt{
    background-color: #ffffff;
    padding: 20px 15px 30px 20px;
    margin-bottom: 10px;
    height: 164px;
}
/*.excerpt:after, .excerpt:before {*/
    /*display: table;*/
    /*content: "";*/
    /*line-height: 0;*/
/*}*/

.excerpt header{
    padding: 0 10px 15px 0;
}
.label{
    position: relative;
    display: inline-block;
    height: 14px;
    padding: 4px 6px 3px;
    line-height: 14px;
    color: #fff;
    vertical-align: baseline;
    white-space: nowrap;
    background-color: #999;
}
.label,.label-row {
    top: 7px;
    right: -4px;
    border-left: 4px solid #999;
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;
}
.label-row{
    position: absolute;
    width: 0;
    height: 0;
    vertical-align: top;
    content: "";
}
.excerpt h2 {
    display: inline;
    font-size: 20px;
    margin: 0;
    font-weight: 400;
    position: relative;
    top: 7px;
    line-height: 25px;
    margin-left: 10px;
}
.excerpt h2 a{
    color: #4a4a4a;
}
.excerpt h2 a:hover{
    color: #161616;
    font-size: 20px;
    font-weight: 100;
}
.excerpt .focus {
    float: left;
    margin: 0 20px 0 0;
    text-align: center;
    overflow: hidden;
    display: table;
}
.focus img{
    width: 200px;
    height: 125px;
}
.excerpt .note {
    color: #777;
    line-height: 24px;
    margin-bottom: 0;
    font-style: normal;
    overflow: hidden;
    display: inline-block;
    vertical-align: top;
    width: 590px;
    height:69px
}
.excerpt p.auth-span {
    float: right;
    position: relative;
    /*bottom: 0;*/
    right: 0;
    top: 58px;
}
.excerpt .muted {
    font-size: 13px;
    margin-right: 20px;
}
.fa {
    font-size: 1.23em;
    text-align: center;
    display: inline-block;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    vertical-align: top;
}
.fa a{
    color: #777;
}

/*侧边栏*/
div#body-wrapper aside{
    display: inline-block;
    vertical-align: top;
    font-size: 16px;
    width: 30%;
    margin: 20px 0px 10px 5px;

}
.widget {
    clear: both;
    margin-bottom: 10px;
    background-color: #fff;
}
.title {
    position: relative;
    height: 45px;
    border-bottom: 1px solid #90bba8;
    margin: 5px 20px;
}
.title h2 {
    font-size: 16px;
    font-weight: 400;
    width: 80px;
    line-height: 45px;
}
.hot{
    margin-top: -5px;
}
.hot ul {
    padding: 0 20px 20px;
}
.hot li{
    display: inline-block;
}
.hot li a {
    padding: 5px 0 15px 90px;
    border-bottom: solid 1px #eee;
    overflow: hidden;
    position: relative;
    display: block;
    font-size: 14px;
    color: #777;
}
.hot .thumbnail {
    float: left;
    margin-left: -90px;
    margin-top: 10px;
}
.hot .thumbnail img {
    max-width: 100px;
    max-height: 64px;
    display: block;
    margin: 0 auto;
}
.hot .text {
    margin: 10px 0 0 20px;
    display: block;
    height: 45px;
    width: 217px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.hot .muted {
    padding-left: 10px;
}
.hot li a:hover{
    color: red;
}
.archive ul {
    padding: 10px 20px 5px;
    overflow: hidden;
    color: #999;
}
.archive li {
    display: inline-block;
    width: 50%;
    float: left;
    margin-bottom: 5px;
}
.archive a{
    color: #777;
}
.archive a:hover{
    color: #191919;
}
.tags {
    padding: 12px 10px 15px 20px;
}
.tags a:nth-child(9n+1) {
    background-color: rgb(6, 132, 108);
}
.tags a:nth-child(9n+1):hover {
    background-color: rgb(6, 100, 90);
}
.tags a:nth-child(9n+2) {
    background-color: rgb(61, 159, 61);
}
.tags a:nth-child(9n+2):hover {
    background-color: rgb(61, 159, 10);
}
.tags a:nth-child(9n+3) {
    background-color: rgb(197, 46, 42);
}
.tags a:nth-child(9n+3):hover {
    background-color: rgb(200, 20, 42);
}
.tags a:nth-child(9n+4) {
    background-color: rgb(93, 92, 90);
}
.tags a:nth-child(9n+4):hover {
    background-color: rgb(19, 18, 17);
}
.tags a:nth-child(9n+5) {
    background-color: rgb(155, 7, 240);
}
.tags a:nth-child(9n+5):hover {
    background-color: rgb(113, 7, 182);
}
.tags a:nth-child(9n+6) {
    background-color: rgb(0, 135, 98);
}
.tags a:nth-child(9n+6):hover {
    background-color: rgb(0, 111, 80);
}
.tags a:nth-child(9n+7) {
    background-color: rgb(147, 89, 33);
}
.tags a:nth-child(9n+7):hover {
    background-color: rgb(118, 71, 28);
}
.tags a:nth-child(9n+8) {
    background-color: rgb(215, 78, 0);
}
.tags a:nth-child(9n+8):hover {
    background-color: rgb(191, 70, 0);
}
.tags a:nth-child(9n) {
    background-color: rgb(51, 53, 57);
}
.tags a:nth-child(9n) {
    background-color: rgb(14, 15, 17);
}
.tags a {
    width: 44%;
    opacity: .7;
    filter: alpha(opacity=80);
    color: #fff;
    background-color: #00a67c;
    display: inline-block;
    margin: 0 5px 5px 0;
    padding: 2px 6px;
    line-height: 21px;
}
.links ul{
    padding: 5px 0 15px 12px;
    width: 90%;
    display: inline-block;
}
.links li {
    width: 45%;
    margin-left: 8px;
    margin-right: 8px;
    float: left;
    border-bottom: 1px solid #f0f0f0;
    padding: 5px 0 5px 0;
}
.links li a {
    background-color: #fff;
    padding: 5px 8px;
    display: inline-block;
    width: 80%;
    text-align: center;
    color: #777;
}
.links li a:hover{
    color: #3e3e3e;
}
/*脚注*/
.footer{
    background-color: #333333;
    border-top: solid 8px #4a4a4a;
    height: 78px;
}
.footer-inner {
    max-width: 1226px;
    padding: 16px 20px 14px;
    margin: 0 auto;
    color: #aaa;
    text-shadow: 0 -1px 0 #333;
}
.footer .footer-inner .footer-last {
    text-align: center;
    float: none!important;
}
.footer-last{
    float: left;
}
.footer a{
    color: #ffffff;
    display: inline-block;
    font-size: 14px;
    border-right: solid 1px #ffffff;
    padding-right: 10px;
    padding-left: 10px ;
}
.footer a:last-child{
    border-right: none;
}
